{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} • {{ 'account.bank_account' | trans }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">{{ 'account.bank_account' | trans }}</li>
{% endblock %}

{% block body %}
    <h1>{{ 'account.bank_account' | trans }}</h1>

    <div class="row card-columns">
        {% for account in accounts %}
            <div class="col-sm-4" data-id="{{ account.id }}">
                <div class="card">
                    <div class="card-header">
                        {{ account.name }}
                        <small class="text-muted">{{ account.accountNumber }}</small>
                    </div>
                    <div class="card-body">
                        Last movements: {% if account.movements[0] is defined %}{{ account.movements[0] }}{% else %}<i>None</i>{% endif %}<br>
                        Balance: {{ account.accountBalance }}
                    </div>
                    <div class="card-footer d-flex">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="View informations"><i class="fas fa-receipt"></i></button>
                            <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="Edit this account"><i class="fas fa-pencil"></i></button>
                        </div>

                        <button type="button" class="btn btn-outline-danger ml-auto" data-toggle="tooltip" title="Delete this account" data-action="delete" data-id="{{ account.id }}"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-sm-4">
            <div id="accountAddAccount" class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center"><i class="fas fa-plus"></i></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('account') }}
{% endblock %}
