{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors|length > 0 %}
            {% for error in errors %}
                {{ error.message|trans }}
                {%  if not loop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

<div class="col-md-7 col-sm-12">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <fieldset class="form-group row">
        <label class="col-sm-12 col-form-label">{{ 'core.email' | trans }}</label>
        <div class="col-sm-9">
            {{ form_widget(form.email, (form.email.vars.errors|length > 0
                ? {'attr': {'class': 'form-control is-invalid', 'placeholder':'core.email'|trans}}
                : {'attr': {'class': 'form-control', 'placeholder':'core.email'|trans}})) }}
            <div class="invalid-feedback">{{ form_errors(form.email) }}</div>
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label class="col-sm-12 col-form-label">{{ 'core.password' | trans }}</label>
        <div class="col-sm-9">
            {{ form_widget(form.plainPassword.first, (form.plainPassword.first.vars.errors|length > 0
                ? {'attr': {'class': 'form-control is-invalid', 'placeholder':'core.password'|trans}}
                : {'attr': {'class': 'form-control', 'placeholder':'core.password'|trans}})) }}
            <div class="invalid-feedback">{{ form_errors(form.plainPassword.first) }}</div>
            <small class="form-text text-warning">
                <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Il est préférable de choisir un mot de passe différent de celui d'autres sites web</b>
            </small>
            <small class="form-text text-muted">Le mot de passe doit posséder minimum 6 caractères</small>
        </div>
    </fieldset>

    <fieldset class="form-group row">
        <label class="col-sm-12 col-form-label">{{ 'core.verify_password' | trans }}</label>
        <div class="col-sm-9">
            {{ form_widget(form.plainPassword.second, (form.plainPassword.second.vars.errors|length > 0
                ? {'attr': {'class': 'form-control is-invalid', 'placeholder':'core.verify_password'|trans}}
                : {'attr': {'class': 'form-control', 'placeholder':'core.verify_password'|trans}})) }}
            <div class="invalid-feedback">{{ form_errors(form.plainPassword.second) }}</div>
        </div>
    </fieldset>

    <div class="offset-sm-3">
        <input type="submit" class="btn btn-primary" value="{{ 'core.create_account' | trans }}" />
    </div>

    {{ form_end(form) }}
</div>

<div class="col-md-5 col-sm-12">
    <h3>Informations</h3>
    <hr>

    <br>
    Nous nous efforçons à vous garantir la sécurité maximale de votre compte et de vos informations personnelles. Ainsi, vos mots de passe sont <b>cryptés</b> afin qu'ils ne puissent <b>pas être retrouvés</b>.<br>
    <br>
    Votre adresse email est utilisée afin de vous envoyer des <b>informations utiles</b>. Celle-ci n'est pas visible par les autres membres.
</div>