{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} • Index{% endblock %}

{% block body %}
    <h1>Dashboard</h1>

    {% if app.user %}
        {% include 'index/dashboard/dashboard.html.twig' %}
    {% endif %}
{% endblock %}
