<div class="row">
    <div class="col-sm">
        <div class="card bg-light mb-3">
            <div class="card-header">{{ 'dashboard.month_expense' | trans({'%count%': expenses|length}) }}</div>
            <div class="card-body">
                {% for expense in expenses %}
                    {% include 'index/dashboard/movement_row.html.twig' with {'expense_name':expense.name,'expense_value': expense.value} %}
                {% else %}
                    <i>{{ 'dashboard.no.expense.this.month' | trans }}</i>
                {% endfor %}

                {% if totalExpenses < 0 %}
                    <hr>

                    {% include 'index/dashboard/movement_row.html.twig' with {'expense_name':'Total','expense_value': totalExpenses} %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card bg-light mb-3">
            <div class="card-header">{{ 'dashboard.month_revenue' | trans({'%count%': revenues|length}) }}</div>
            <div class="card-body">
                {% for revenue in revenues %}
                    {% include 'index/dashboard/movement_row.html.twig' with {'expense_name':revenue.name,'expense_value': revenue.value} %}
                {% else %}
                    <i>{{ 'dashboard.no.revenue.this.month' | trans }}</i>
                {% endfor %}

                {% if totalRevenues > 0 %}
                    <hr>

                    {% include 'index/dashboard/movement_row.html.twig' with {'expense_name':'Total','expense_value': totalRevenues} %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card bg-light mb-3">
            <div class="card-header">{{ 'dashboard.month_forecast_balance' | trans }}</div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>