<div class="row">
    <div class="col-md-8">
        {{ expense_name }}
    </div>
    <div class="col-md-4 text-right {% if expense_value > 0 %}text-success{% else %}text-danger{% endif %}">
        {{ expense_value | replace({".00" : ""}) }} €
    </div>
</div>