{% extends 'modalContent.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block modalTitle %}
    {{ 'account.form.' ~ formType ~ '_account' | trans }}
{% endblock %}

{% block modalBody %}
    <div id="modalAlertDanger" class="alert alert-danger d-none" role="alert"></div>

    {{ form_start(form, { 'attr' : { 'novalidate' : 'true' } }) }}

    {{ form_row(form.name) }}

    {{ form_row(form.number) }}

    {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block modalFooter %}
    {{ parent() }}

    <button id="buttonFormSubmit" type="button" class="btn btn-primary">
        {{ form.submit.vars.label | trans }}
    </button>
{% endblock %}