<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Budget{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">

            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'menu.html.twig' %}

        <div id="defaultModal" class="modal fade" tabindex="-1" role="dialog">

        </div>

        {% block confirmationModal %}
            <div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Demande de confirmation</h4>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Êtes-vous sûr de vouloir effectuer cette action ?
                            <div class="modal-body-more-info text-muted"></div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger modal-confirmation-no" data-dismiss="modal">Non</button>
                            <button type="button" class="btn btn-outline-primary modal-confirmation-yes" data-dismiss="modal">Oui</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!-- Toasts -->
        <div aria-live="polite" aria-atomic="true" style="position: fixed; right: 15px; min-width: 300px; min-height: 200px; z-index: 100" class="mt-2">
            <!-- Positioning toast -->
            <div id="toastsContainer" style="position: absolute; top: 0; right: 0;">

            </div>
        </div>

        <main role="main" class="container mt-2">

            <ol class="breadcrumb">
                {% block breadcrumb %}
                    {% if app.request.get('_route') == 'homepage' %}
                        <li class="breadcrumb-item active"><i class="fal fa-home"></i> Accueil</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><i class="fal fa-home"></i> Accueil</a></li>
                    {% endif %}
                {% endblock %}
            </ol>

            {% block body %}

            {% endblock %}
        </main>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
              integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
