{% block menu %}
    <header class="navbar sticky-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Budget</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse pr-5" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account') }}">{{ 'menu.bank_account' | trans }}</a>
                </li>
            </ul>

            <ul class="navbar-nav flex-row m1-md1-auto d-md-flex">
                {% if app.user %}
                    <li class="nav-item dropdown {% if app.request.attributes.get('_route') matches '{^user_.*$}' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i> {{ app.user.username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Gérer mon compte</a>
                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success mr-sm-2">{{ 'core.register' | trans }}</a>
                    <button class="btn btn-outline-primary" data-toggle="modal" data-target=".modal_connect">{{ 'core.login' | trans }}</button>
                {% endif %}
            </ul>
        </div>
    </header>
{% endblock %}