<div class="modal-dialog {% if modalSize is defined %}modal-{{ modalSize }}{% endif %}" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{% block modalTitle %}{% endblock %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% block modalBody %}{% endblock %}
        </div>
        <div class="modal-footer">
            {% block modalFooter %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            {% endblock %}
        </div>
    </div>
</div>